@use "../_sass-methods.module" as *;
::selection {
    background-color: grey;
    color: white;
}

.page {
    @extend %flex_center;
    background-color: white;
    color: black;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

.exit_btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    @include border-radius();
    background-color: white;
    color: black;
    @include transition();
    &:hover {
        padding: 10px;
        margin: 10px;
    }
    &::selection {
        background-color: black;
        color: white;
    }
}

.back_btn {
    position: absolute;
    top: 58px;
    left: 10px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    @include border-radius();
    background-color: white;
    color: black;
    @include transition();
    &:hover {
        padding: 10px;
        margin: 10px;
    }
    &::selection {
        background-color: black;
        color: white;
    }
}

.main {
    @extend %flex_center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: black 0 0 5px;
    @include border-radius();
    @include transition();
    &:hover {
        box-shadow: black 0 0 15px;
        padding: 25px;
    }
}

.main_title {
    padding: 5px;
    margin: 5px;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 10px 30px;
        margin: 10px;
        box-shadow: black 0 0 5px;
    }
}

.result_box {
    display: flex;
    justify-content: right;
    align-items: top;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    box-shadow: black 0 0 5px; 
    @include border-radius();
    background-color: white;
    color: black;
    @include transition();
    &:hover {
        padding: 12px;
        margin: 15px;
        box-shadow: black 0 0 10px;
    }
}

.result_txt_win, .result_txt_lose {
    margin: 10px;
}

.result_txt_win::selection,
.result_txt_lose::selection {
    background-color: black;
    color: white;
}

.game_box {
    @extend %flex_center;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
    box-shadow: black 0 0 5px;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 50px;
        margin: 50px;
        box-shadow: black 0 0 10px;
    }
}

.info_box {
    padding: 10px;
    margin: 5px;
}

.rules_p {
    border: 2px solid black;
    @include border-radius();
    padding: 5px;
    margin: 5px;
    @include transition();
    &:hover {
        padding: 15px;
        margin: 15px;
    }
}

.inp_box {
    @extend %flex_center;
    padding: 10px;
    box-shadow: black 0 0 5px;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 20px;
        margin: 5px;
        box-shadow: black 0 0 10px;
    }
}

.inp {
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 10px;
        margin: 15px;
    }
    &::selection {
        background-color: black;
        color: white;
    }
}

.submit_btn {
    padding: 5px;
    border: 2px solid black;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 10px;
        margin: 10px;
    }
}

.status_box {
    padding: 10px;
    margin: 10px;
    box-shadow: black 0 0 5px;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 15px;
        margin: 20px;
    }
}

.status_txt {
    font-weight: bold;
}

.rem_5 {
    font-size: 5rem;
}

.pointer {
    cursor: pointer;
}

.none {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    padding: 20px;
}

@media (max-width: 470px){
    .main {
        padding: 10px;
        &:hover {
            padding: 10px;
        }
    }

    .main_title {
        &:hover {
            padding: 5px;
            margin: 5px;
            box-shadow: black 0 0 0;
        }
    }

    .game_box {
        padding: 20px;
        margin: 20px;
        box-shadow: black 0 0 5px;
        @include border-radius();
        @include transition();
        &:hover {
            padding: 20px;
            margin: 20px;
            box-shadow: black 0 0 10px;
        }
    }
}

@media (max-width: 420px){
    .inp_box {
        &:hover {
            padding: 10px;
            margin: 0;
        }
    }

    .inp {
        margin: 5px;
        &:hover {
            padding: 5px;
            margin: 10px;
        }
    }

    .submit_btn {
        &:hover {
            padding: 5px;
            margin: 5px;
        }
    }
}

@media (max-width: 390px){
    .result_box {
        &:hover {
            padding: 5px;
            margin: 5px;
        }
    }

    .info_box {
        padding: 5px;
        margin: 0;
    }

    .rules_p {
        &:hover {
            padding: 8px;
            margin: 5px;
        }
    }

    .inp {
        padding: 3px;
        margin: 5px;
        &:hover {
            padding: 3px;
            margin: 5px;
        }
    }
}

@media (max-width: 355px){
    .game_box {
        padding: 10px;
        margin: 10px;
        &:hover {
            padding: 10px;
            margin: 10px;
        }
    }
}

@media (max-width: 320px){
    .game_box {
        padding: 5px;
        margin: 5px;
        &:hover {
            padding: 5px;
            margin: 5px;
        }
    }
}

@media (max-width: 305px){
    .game_box {
        padding: 2px;
        margin: 2px;
        &:hover {
            padding: 2px;
            margin: 2px;
        }
    }
}

@media (max-width: 300px){
    .game_box {
        padding: 1px;
        margin: 0;
        &:hover {
            padding: 1px;
            margin: 0;
        }
    }
}

@media (max-width: 270px){
    .inp_box {
        flex-direction: column;
    }

    .submit_btn {
        width: 100%;
    }
}