@use "../_sass-methods.module" as *;
::selection {
    background-color: black;
    color: white;
}

.page {
    position: relative;
    @extend %flex_center;
    background-color: red;
    height: 100%;
    color: black;
}

.main {
    @extend %flex_center;
    flex-direction: column;
    margin: 20px;
}

.main_title {
    padding: 5px;
    margin: 5px;
    @include transition();
    @include border-radius();
    &:hover {
        border: 3px solid black;
        padding: 10px 30px;
        margin: 10px;
    }
}

.exit_btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    @include border-radius();
    background-color: white;
    color: black;
    @include transition();
    &:hover {
        padding: 10px;
        margin: 10px;
    }
}

.back_btn {
    position: absolute;
    top: 58px;
    left: 10px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    @include border-radius();
    background-color: white;
    color: black;
    @include transition();
    &:hover {
        padding: 10px;
        margin: 10px;
    }
}

.next_btn {
    position: absolute;
    top: 108px;
    left: 10px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    @include border-radius();
    background-color: white;
    color: black;
    @include transition();
    &:hover {
        padding: 10px;
        margin: 10px;
    }
}

.result_box {
    display: flex;
    justify-content: right;
    align-items: top;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    @include border-radius();
    background-color: white;
    color: black;
    @include transition();
    &:hover {
        padding: 20px;
        margin: 20px;
    }
}

.result_txt_win, .result_txt_lose {
    margin: 10px;
}

.game_box {
    @extend %flex_center;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
    border: 2px solid black;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 50px;
        margin: 50px;
    }
}

.info_box {
    padding: 10px;
    margin: 5px;
}

.rules_p {
    border: 2px solid black;
    @include border-radius();
    margin: 5px;
    padding: 5px;
    @include transition();
    &:hover {
        padding: 15px;
        margin: 15px;
    }
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.inp_box {
    @extend %flex_center;
    padding: 10px;
    border: 2px solid black;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 20px;
        margin: 5px;
    }
}

.inp {
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 10px;
        margin: 15px;
    }
}

.submit_btn {
    padding: 5px;
    border: 2px solid black;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 10px;
        margin: 10px;
    }
}

.status_box {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 30px;
        margin: 30px;
    }
}

.rem_5 {
    font-size: 5rem;
}

.pointer {
    cursor: pointer;
}

.none {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    padding: 20px;
}

.copyright_para {
    color: grey;
}

@media (max-width: 390px){
    .result_box {
        &:hover {
            padding: 5px;
            margin: 5px;
        }
    }

    .game_box {
        &:hover {
            padding: 30px;
            margin: 30px;
        }
    }

    .rules_p {
        &:hover {
            padding: 8px;
            margin: 5px;
        }
    }

    .inp_box {
        &:hover {
            padding: 10px;
            margin: 0;
        }
    }

    .inp {
        &:hover {
            padding: 8px;
            margin: 10px;
        }
    }
    
    .submit_btn {
        &:hover {
            padding: 8px;
            margin: 0;
        }
    }
}

@media (max-width: 355px){
    .game_box {
        padding: 10px;
        margin: 10px;
        &:hover {
            padding: 10px;
            margin: 10px;
        }
    }
}

@media (max-width: 320px){
    .game_box {
        padding: 5px;
        margin: 5px;
        &:hover {
            padding: 5px;
            margin: 5px;
        }
    }
}

@media (max-width: 305px){
    .game_box {
        padding: 2px;
        margin: 2px;
        &:hover {
            padding: 2px;
            margin: 2px;
        }
    }
}

@media (max-width: 300px){
    .game_box {
        padding: 1px;
        margin: 0;
        &:hover {
            padding: 1px;
            margin: 0;
        }
    }

    .inp {
        padding: 5px;
        margin: 2px;
        &:hover {
            padding: 5px;
            margin: 2px;
        }
    }
    
    .submit_btn {
        padding: 5px;
        margin: 0;
        &:hover {
            padding: 5px;
            margin: 0;
        }
    }
}

@media (max-width: 270px){
    .game_box {
        padding: 2px;
        margin: 2px;
        &:hover {
            padding: 2px;
            margin: 2px;
        }
    }

    .inp_box {
        flex-direction: column;
    }

    .submit_btn {
        width: 100%;
    }
}