.page, .main, .game_box, .inp_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-moz-selection {
  background-color: white;
  color: black;
}

::selection {
  background-color: white;
  color: black;
}

@keyframes to-top {
  from {
    transform: translateY(800px);
    -webkit-transform: translateY(800px);
    -moz-transform: translateY(800px);
    -ms-transform: translateY(800px);
    -o-transform: translateY(800px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes to-left {
  from {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
::-moz-selection {
  background-color: black;
  color: white;
}
::selection {
  background-color: black;
  color: white;
}

.page {
  position: relative;
  background-color: red;
  height: 100%;
  color: black;
}

.main {
  flex-direction: column;
  margin: 20px;
}

.main_title {
  padding: 5px;
  margin: 5px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.main_title:hover {
  border: 3px solid black;
  padding: 10px 30px;
  margin: 10px;
}

.exit_btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: white;
  color: black;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.exit_btn:hover {
  padding: 10px;
  margin: 10px;
}

.back_btn {
  position: absolute;
  top: 58px;
  left: 10px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: white;
  color: black;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.back_btn:hover {
  padding: 10px;
  margin: 10px;
}

.next_btn {
  position: absolute;
  top: 108px;
  left: 10px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: white;
  color: black;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.next_btn:hover {
  padding: 10px;
  margin: 10px;
}

.result_box {
  display: flex;
  justify-content: right;
  align-items: top;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: white;
  color: black;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.result_box:hover {
  padding: 20px;
  margin: 20px;
}

.result_txt_win, .result_txt_lose {
  margin: 10px;
}

.game_box {
  flex-direction: column;
  margin: 30px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.game_box:hover {
  padding: 50px;
  margin: 50px;
}

.info_box {
  padding: 10px;
  margin: 5px;
}

.rules_p {
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin: 5px;
  padding: 5px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.rules_p:hover {
  padding: 15px;
  margin: 15px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.inp_box {
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.inp_box:hover {
  padding: 20px;
  margin: 5px;
}

.inp {
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.inp:hover {
  padding: 10px;
  margin: 15px;
}

.submit_btn {
  padding: 5px;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.submit_btn:hover {
  padding: 10px;
  margin: 10px;
}

.status_box {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.status_box:hover {
  padding: 30px;
  margin: 30px;
}

.rem_5 {
  font-size: 5rem;
}

.pointer {
  cursor: pointer;
}

.none {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: 20px;
}

.copyright_para {
  color: grey;
}

@media (max-width: 390px) {
  .result_box:hover {
    padding: 5px;
    margin: 5px;
  }
  .game_box:hover {
    padding: 30px;
    margin: 30px;
  }
  .info_box {
    padding: 5px;
    margin: 0;
  }
  .rules_p:hover {
    padding: 8px;
    margin: 5px;
  }
  .inp_box:hover {
    padding: 10px;
    margin: 0;
  }
  .inp:hover {
    padding: 8px;
    margin: 10px;
  }
  .submit_btn:hover {
    padding: 8px;
    margin: 0;
  }
}
@media (max-width: 355px) {
  .game_box {
    padding: 10px;
    margin: 10px;
  }
  .game_box:hover {
    padding: 10px;
    margin: 10px;
  }
}
@media (max-width: 320px) {
  .game_box {
    padding: 5px;
    margin: 5px;
  }
  .game_box:hover {
    padding: 5px;
    margin: 5px;
  }
}
@media (max-width: 305px) {
  .game_box {
    padding: 2px;
    margin: 2px;
  }
  .game_box:hover {
    padding: 2px;
    margin: 2px;
  }
}
@media (max-width: 300px) {
  .game_box {
    padding: 1px;
    margin: 0;
  }
  .game_box:hover {
    padding: 1px;
    margin: 0;
  }
  .inp {
    padding: 5px;
    margin: 2px;
  }
  .inp:hover {
    padding: 5px;
    margin: 2px;
  }
  .submit_btn {
    padding: 5px;
    margin: 0;
  }
  .submit_btn:hover {
    padding: 5px;
    margin: 0;
  }
}
@media (max-width: 270px) {
  .game_box {
    padding: 2px;
    margin: 2px;
  }
  .game_box:hover {
    padding: 2px;
    margin: 2px;
  }
  .inp_box {
    flex-direction: column;
  }
  .submit_btn {
    width: 100%;
  }
}/*# sourceMappingURL=page.module.css.map */