@use "./_sass-methods.module" as *;
.page {
    @extend %flex_center;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.controls {
    background-color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
    @include border-radius();
    @include transition();
    animation: 5s ease to-left;
    -webkit-animation: 5s ease to-left;
    &:hover {
        padding: 15px;
        margin: 20px;
    }
}

.appear_btn {
    position: absolute;
    left: -5px;
    top: 50%;
    z-index: 5;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    background-color: white;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.history_div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
    color: white;
    border: 2px solid white;
    @include border-radius();
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    z-index: 10;
}

.hidden {
    @include translate-x(-200px);
}

.hidden_ani {
    animation: 1s ease hide-aside !important;
    -webkit-animation: 1s ease hide-aside !important;
}

.appear {
    animation: 1s ease appear-aside !important;
    -webkit-animation: 1s ease appear-aside !important;
}

.history_txt_div {
    width: 100%;
    padding: 20px;
    background-color: black;
    border-top-right-radius: 8px;
}

.history_txt {
    text-align: center;
    cursor: pointer;
    padding: 8px;
    margin: 5px;
    border: 2px solid white;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 10px;
        margin: 10px;
    }
}

.levels_history {
    @extend %flex_center;
    flex-direction: column;
    width: 100%;
}

.level_box {
    @extend %flex_center;
    flex-direction: column;
    padding: 7px;
    width: 100%;
    border: 1px solid black;
    @include transition();
    &:hover {
        padding: 8px;
    }
}

.score {
    font-weight: bold;
    margin: 5px 0 5px 0;
}

.main {
    @extend %flex_center;
    flex-direction: column;
    background-color: black;
    animation: 5s ease to-top;
    -webkit-animation: 5s ease to-top;
}

.choose_title {
    @include border-radius();
    border: 2px solid white;
    padding: 15px;
    @include transition();
    &:hover {
        padding: 20px;
        margin: 10px;
    }
}

.choices_box {
    @extend %flex_center;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
    border: 2px solid white;
    @include border-radius();
}

.choices {
    @extend %flex_center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.choice_btn {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 8px;
    border: 2px solid white;
    @include border-radius();
    color: black;
    font-weight: bold;
    @include transition();
    &:hover {
        padding: 15px;
        margin: 10px;
    }
}

.easy {
    background-color: green;
    color: white;
}

.medium {
    background-color: yellow;
    color: black;
}

.hard {
    background-color: red;
    color: white;
}

.extreme {
    background-color: darkred;
    color: white;
}

.imp {
    background: linear-gradient(
        to right, 
        green, 
        yellow, 
        red, 
        darkred
    );
    color: black;
}

.one_time {
    background-color: grey;
}

.free_mode {
    background-color: white;
    color: black;
    border: none;
}

.medium .score::selection, .free_mode .score::selection {
    background-color: black;
    color: white;
}

.total {
    background-color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    z-index: 100;
    @include border-radius();
}

.copyright_para {
    color: grey;
}

@keyframes hide-aside {
    from {
        @include translate-x(0);
    }
    to {
        @include translate-x(-200px);
    }
}

@keyframes hide-aside-media {
    from {
        @include translate-x(0);
    }
    to {
        @include translate-x(-1000px);
    }
}

@keyframes appear-aside {
    from {
        @include translate-x(-200px);
    }
    to {
        @include translate-x(0);
    }
}

@keyframes appear-aside-media {
    from {
        @include translate-x(-1000px);
    }
    to {
        @include translate-x(0);
    }
}

@media (max-width: 700px){
    .history_div {
        width: 100%;
        height: 100%;
        @include border-radius(0);
        z-index: 100;
    }

    .hidden {
        @include translate-x(-1000px);
    }

    .hidden_ani {
        animation: 2s ease hide-aside-media !important;
        -webkit-animation: 2s ease hide-aside-media !important;
    }

    .appear {
        animation: 2s ease appear-aside-media !important;
        -webkit-animation: 2s ease appear-aside-media !important;
    }

    .footer {
        right: 5px;
        padding: 10px;
        font-size: 0.8rem;
        z-index: 10;
    }
}

@media (max-width: 620px){
    .controls {
        &:hover {
            padding: 10px;
            margin: 5px;
            background-color: white;
            color: black;
            border-color: black;
        }
    }
}

@media (max-width: 570px){
    .controls {
        top: 93%;
        right: 40%;
        height: fit-content;
        animation: none;
        -webkit-animation: none;
    }

    .choose_title {
        &:hover {
            padding: 20px;
            margin: 0;
        }
    }

    .choice_btn {
        &:hover {
            padding: 15px;
            margin: 15px;
        }
    }
}

@media (max-width: 500px){
    .footer {
        background-color: transparent;
        font-size: 0.5rem;
    }
}

@media (max-width: 380px){
    .controls {
        border: none;
        background-color: transparent;
        text-decoration: underline;
        font-size: 1rem;
        top: 93.5%;
        &:hover {
            background-color: transparent;
            color: white;
        }
    }

    .main_title {
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 300px){
    .controls {
        top: 91%;
    }

    .main_title {
        font-size: 1rem;
    }
}