.choices, .choices_box, .main, .level_box, .levels_history, .page {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-moz-selection {
  background-color: white;
  color: black;
}

::selection {
  background-color: white;
  color: black;
}

.page {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.controls {
  background-color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  animation: 5s ease to-left;
  -webkit-animation: 5s ease to-left;
}
.controls:hover {
  padding: 15px;
  margin: 20px;
}

.appear_btn {
  position: absolute;
  left: -5px;
  top: 50%;
  z-index: 5;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  background-color: white;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.history_div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  z-index: 10;
}

.hidden {
  transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
}

.hidden_ani {
  animation: 1s ease hide-aside !important;
  -webkit-animation: 1s ease hide-aside !important;
}

.appear {
  animation: 1s ease appear-aside !important;
  -webkit-animation: 1s ease appear-aside !important;
}

.history_txt_div {
  width: 100%;
  padding: 20px;
  background-color: black;
  border-top-right-radius: 8px;
}

.history_txt {
  text-align: center;
  cursor: pointer;
  padding: 8px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.history_txt:hover {
  padding: 10px;
  margin: 10px;
}

.levels_history {
  flex-direction: column;
  width: 100%;
}

.level_box {
  flex-direction: column;
  padding: 12px;
  width: 100%;
  border: 1px solid black;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.level_box:hover {
  padding: 15px;
}

.score {
  font-weight: bold;
  margin: 5px 0 5px 0;
}

.main {
  flex-direction: column;
  background-color: black;
  animation: 5s ease to-top !important;
  -webkit-animation: 5s ease to-top !important;
}

.choose_title {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 2px solid white;
  padding: 20px;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.choose_title:hover {
  padding: 25px;
  margin: 25px;
}

.choices_box {
  flex-direction: column;
  margin: 30px;
  padding: 30px;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.choices {
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.choice_btn {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: black;
  font-weight: bold;
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
.choice_btn:hover {
  padding: 20px;
  margin: 20px;
}

.easy {
  background-color: green;
  color: white;
}

.medium {
  background-color: yellow;
  color: black;
}
.medium .score::-moz-selection {
  background-color: black;
  color: white;
}
.medium .score::selection {
  background-color: black;
  color: white;
}

.hard {
  background-color: red;
  color: white;
}

.extreme {
  background-color: darkred;
  color: white;
}

.imp {
  background: linear-gradient(to right, green, yellow, red, darkred);
  color: black;
}

.one_time {
  background-color: grey;
}

.total {
  background-color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: 20px;
  z-index: 100;
  background-color: black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.copyright_para {
  color: grey;
}

@keyframes hide-aside {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
  }
}
@keyframes hide-aside-media {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-1000px);
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
  }
}
@keyframes appear-aside {
  from {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes appear-aside-media {
  from {
    transform: translateX(-1000px);
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes to-top {
  from {
    transform: translateY(800px);
    -webkit-transform: translateY(800px);
    -moz-transform: translateY(800px);
    -ms-transform: translateY(800px);
    -o-transform: translateY(800px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@keyframes to-left {
  from {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@media (max-width: 700px) {
  .history_div {
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    z-index: 100;
  }
  .hidden {
    transform: translateX(-1000px);
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
  }
  .hidden_ani {
    animation: 2s ease hide-aside-media !important;
    -webkit-animation: 2s ease hide-aside-media !important;
  }
  .appear {
    animation: 2s ease appear-aside-media !important;
    -webkit-animation: 2s ease appear-aside-media !important;
  }
  .footer {
    right: 5px;
    padding: 10px;
    font-size: 0.8rem;
    z-index: 10;
  }
}
@media (max-width: 620px) {
  .controls:hover {
    padding: 10px;
    margin: 5px;
    background-color: white;
    color: black;
    border-color: black;
  }
}
@media (max-width: 570px) {
  .controls {
    top: 93%;
    right: 40%;
    height: -moz-fit-content;
    height: fit-content;
    animation: none;
    -webkit-animation: none;
  }
  .choose_title:hover {
    padding: 20px;
    margin: 0;
  }
  .choice_btn:hover {
    padding: 15px;
    margin: 15px;
  }
}
@media (max-width: 380px) {
  .controls {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 1rem;
    top: 93.5%;
  }
  .controls:hover {
    background-color: transparent;
    color: white;
  }
  .main_title {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  .footer {
    background-color: transparent;
    font-size: 0.5rem;
  }
}/*# sourceMappingURL=page.module.css.map */