@use "../_sass-methods.module" as *;
.page {
    min-height: 100%;
    position: relative;
}

.home {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 15px;
        margin: 15px;
    }
}

.main {
    padding: 20px;
}

.controls_title {
    width: fit-content;
    margin: 5px;
    @include transition();
    &:hover {
        border: 2px solid white;
        @include border-radius();
        padding: 20px;
        margin: 10px;
    }
}

.main_para {
    border: 2px solid white;
    @include border-radius();
    padding: 20px;
    margin: 20px;
}

.key_info_para {
    padding: 20px;
    margin: 10px;
    border: 2px solid white;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 25px;
        margin: 15px;
    }
}

.btn_txt {
    padding: 5px;
    border: 2px solid white;
    @include border-radius();
    @include transition();
    &:hover {
        padding: 10px;
    }
}

.info_txt, .btn_txt {
    text-align: center;
}

.doc_heading {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.doc_info {
    margin: 5px;
    padding: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    @extend %flex_center;
    margin: 0;
}

.copyright_para {
    padding: 10px;
    color: grey;
    background-color: black;
    @include border-radius();
}

@media (max-width: 540px){
    .btn_txt, .info_txt {
        display: inline-block;
        width: 100%;
    }

    .info_txt {
        padding: 10px;
        margin: 5px;
    }
}

@media (max-width: 320px){
    .key_info_para {
        &:hover {
            padding: 20px;
            margin: 10px;
        }
    }

    .controls_title {
        &:hover {
            padding: 10px;
            margin: 5px;
        }
    }
}

@media (max-width: 290px){
    .home {
        &:hover {
            padding: 10px;
            margin: 5px;
            background-color: white;
            color: black;
            &::selection {
                background-color: black;
                color: white;
            }
        }
    }

    .controls_title {
        &:hover {
            padding: 0;
            margin: 5px;
            border: none;
        }
    }
}